<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.publishing.mapper.PassageMapper">
    <select id="selectByPage" resultType="com.publishing.entity.Passage" parameterType="Integer">
        SELECT * FROM passage LIMIT #{startPage}, #{endPage}
    </select>

    <select id="selectCount" resultType="Long">
        SELECT COUNT(*) FROM passage
    </select>
</mapper>
